* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

button {
  width: 200px;
  padding: 0.75rem;
  background-color: hsl(224, 93%, 58%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
button:hover {
  opacity: 0.75;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5%;
  position: relative;
}
.nav-bar .logo {
  display: block;
}
.nav-bar .links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
}
.nav-bar .links .link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  cursor: pointer;
}
.nav-bar .links .link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: hsl(243, 87%, 12%);
  margin: auto;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-bar .links .link:hover::after {
  width: 100%;
}
.nav-bar .links-btn {
  display: none;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem 5%;
}
.header .content {
  width: 100%;
}
.header .content .heading {
  font-size: 2.5rem;
}
.header .content .text {
  line-height: 1.7rem;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  max-width: 550px;
  padding: 1.5rem 0;
}
.header .content .form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.header .content .form input {
  outline: none;
  width: 50%;
  border: 1px solid hsl(243, 87%, 12%);
  padding: 0.75rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.header img {
  width: 100%;
}

.article {
  display: flex;
  align-items: center;
  padding: 5rem 5%;
  position: relative;
  background-color: hsl(240, 75%, 98%);
  margin-top: 15rem;
  gap: 2.5rem;
}
.article .top-image {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}
.article .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.article .content .heading {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.article .content .text {
  line-height: 1.7rem;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  max-width: 550px;
  padding-top: 1rem;
}
.article .content .how {
  position: relative;
  display: flex;
  align-items: center;
  color: hsl(170, 45%, 43%);
  cursor: pointer;
  font-weight: 400;
  padding-top: 1.5rem;
  gap: 0.5rem;
}
.article .content .how:hover {
  opacity: 0.75;
}
.article .content .how::after {
  position: absolute;
  bottom: -0.25rem;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: hsl(170, 45%, 43%);
  display: block;
}
.article .content .testimonial {
  padding: 2rem;
  width: min(400px, 100%);
  background-color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 1rem hsl(0, 0%, 90%);
}
.article .content .testimonial .text {
  line-height: 1.7rem;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  max-width: 550px;
  padding: 0.75rem 0 1.25rem;
}
.article .content .testimonial .info {
  display: flex;
  gap: 1rem;
}
.article .content .testimonial .info .avatar {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.article .content .testimonial .info .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}
.article .content .testimonial .info .details .name {
  font-size: 0.925rem;
}
.article .content .testimonial .info .details .profession {
  font-weight: 400;
  font-size: 0.825rem;
}
.article .article-image {
  width: 100%;
  display: block;
}

.banner {
  display: flex;
  align-items: center;
  padding: 5rem 5%;
  background-color: hsl(238, 22%, 44%);
  gap: 2.5rem;
}
.banner .item {
  flex-basis: 100%;
}
.banner .item .heading {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  padding-bottom: 1.5rem;
}
.banner .item .text {
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  line-height: 1.7rem;
  max-width: 450px;
}
.banner .item input {
  display: block;
  width: min(500px, 100%);
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem 5%;
  background-color: hsl(243, 87%, 12%);
  color: hsl(0, 0%, 100%);
}
.footer .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex-basis: 100%;
}
.footer .item .logo {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.footer .item .link {
  font-weight: 400;
  font-size: 0.975rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer .item .link:hover {
  color: hsl(224, 93%, 58%);
}
.footer .item .contact-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
}
.footer .social-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer .social-icons .circle {
  display: grid;
  place-content: center;
  outline: 1px solid hsl(0, 0%, 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.footer .social-icons .circle img {
  width: 20px;
}
.footer .social-icons .circle:hover {
  outline-color: hsl(224, 93%, 58%);
}
.footer .social-icons .circle:hover img {
  filter: sepia(25) brightness(40%) saturate(50) hue-rotate(160deg);
  -webkit-filter: sepia(25) brightness(40%) saturate(50) hue-rotate(160deg);
}

@media screen and (max-width: 868px) {
  .header,
  .article {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header .text,
  .header .how,
  .article .text,
  .article .how {
    margin: auto;
  }
  .header .form,
  .article .form {
    justify-content: center;
  }
  .header .testimonial,
  .article .testimonial {
    margin: auto;
    text-align: left;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }
  .footer .item {
    align-items: center;
  }
}
@media screen and (max-width: 668px) {
  .links-btn {
    display: block !important;
    filter: brightness(0);
    -webkit-filter: brightness(0);
  }
  .links {
    position: absolute;
    flex-direction: column;
    padding-top: 3.5rem;
    top: -100vh;
    right: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(hsl(0, 0%, 100%) 50%, transparent);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .links .link {
    font-size: 1.2rem;
  }
  .links.active {
    top: 100%;
    right: 0;
  }
  .form {
    flex-direction: column;
  }
  .form input,
  .form .btn {
    width: 100% !important;
  }
  .banner .item {
    width: 100%;
  }
  .banner .item .btn,
  .banner .item input {
    width: 100%;
  }
  .logo {
    width: 120px;
  }
  .heading {
    font-size: 2rem !important;
  }
}/*# sourceMappingURL=style.css.map */